@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Inspiration&family=Lato&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

body {
    background-color: #714433;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 0px;
}

nav {
    background-color: #f7c469;
    text-align: center;
    justify-content: center;
    height: 4rem;
    width: 100%;
    margin-left: 0%;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 2px 0 rgba(71, 39, 12, 0.4);
    padding-top: 0;
}

section {
    position: relative;
    top: 60px;
    width: 100%;
    height: 20rem;
    box-shadow: 0px 2px 0 rgba(71, 39, 12, 0.4);
}

h1 {
    color: #ffff8f;
    font-family: 'Hurricane', cursive;
    font-size: 100px;
    margin-top: 0;
    padding-top: 40px;
}

h2 {
    padding-top: 30px;
    font-family: 'Hurricane', cursive;
    color: #ffff8f;
    font-size: 35px;
}


a {
    text-decoration: none;
    color: white;
    background-color: #f7c469;
    padding: 0.9rem;
    margin-right: 2rem;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
}

a:hover {
    background-color: gold;
}


.nav-list {
    list-style: none;
    display: inline-flex;
}

.welcome {
    background-image: url("https://images.unsplash.com/flagged/photo-1561668038-2742fcef75d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-position: center;
    background-color: rgb(201, 150, 75);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    color: rgb(48, 28, 1);
    justify-content: center;
    z-index: 9;
}

.welcome p {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.about {
    background-image: linear-gradient(40deg, rgb(204, 161, 96), rgb(173, 99, 28));
    margin: 0;
    padding-top: 2px;
    z-index: 8;
}

.about p {
    color: white;
}

.examples {
    background-color: darkgoldenrod;
    margin: 0;
    padding-top: 4px;
    z-index: 7;
    height: 28rem;
}

.examples img {
    border-radius: 10px;
}


img {
    display: inline;
    padding: 10px;
    border-radius: 5px;
}

.label {
    display: inline-block;
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    color: wheat;
}
.input-fields {
    height: 20px;
    width: 240px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}

.btn {
    height: 30px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color: #714433;
    justify-content: center;
    text-align: center;
}

.about-us {
    background-image: url("https://images.pexels.com/photos/5964505/pexels-photo-5964505.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-color: rgb(201, 150, 75);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    color: wheat;
    justify-content: center;
    z-index: 9;
}

.about-text {
    font-family: 'Poppins', sans-serif;
    color: #ffff8f;
    font-weight: 200;
    text-align: center;
    padding-top: 20px;
}

.about-us p {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.video {
    height: 25rem;
    background-image: linear-gradient(118deg, rgba(177,140,110,1) 0%, rgba(154,87,19,1) 38%, rgba(149,69,0,1) 100%); 
    margin: 0;
    padding-top: 2px;
    color: #ffff8f;
    font-family: 'Poppins', sans-serif;
}

.location {
    height: 15rem;
    margin: 0;
    padding-top: 5px;
    color: #ffff8f;
    font-family: 'Poppins', sans-serif;
}

.bread {
    background-image: url("https://images.pexels.com/photos/10011797/pexels-photo-10011797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-color: rgb(201, 150, 75);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 25rem;
    color: wheat;
    justify-content: center;
    z-index: 9;
}

.bread p {
    font-weight: 500;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #ffff8f;
}

.bread-images {
    height: 45rem;
    padding-top: 20px;
}

.bread-images img {
    padding: 5px;
    border-radius: 20px;
}

footer {
    display: inline-block;
    color: wheat;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #714433;
    text-align: center;
    width: 100%;
    z-index: 12;

}
